<h2 id="title">ember-cli-webfont</h2>

<p>
  This addon allows you to automagically generate a webfont and the necessary CSS to use it from a folder of SVG files in your app.
</p>

<p>
  For example, here is the ember logo.
</p>


<p>
  <span class="iconfont iconfont-ember"></span>
</p>

{{outlet}}
